@import url(https://fonts.googleapis.com/css?family=Arimo:regular);

$fontfamily: "Arimo", sans-serif;

@function calcSize($f-min, $f-max, $w-min, $w-max) {
   $k: ($f-max - $f-min)/ ($w-max - $w-min);
   $b: $f-min - $k * $w-min;

   $b: $b * 1px;

   @return calc(#{$k} * 100vw + #{$b});
}

@import "_nullstyle";

body {
   font-family: $fontfamily;
   background: #181818;
   color: #f3f6f9;
   overflow-wrap: anywhere;
   //white-space: pre-line;
}

.container {
   max-width: 950px;
   margin: 0 auto;
   padding: 0 10px;
}

.header {
   margin: 80px 0 20px;

   @media (max-width: 949px) {
      margin: calcSize(20, 80, 320, 949) 0 20px;
   }

   &__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      padding: 0 70px;

      @media (max-width: 949px) {
         padding: 0 calcSize(20, 70, 320, 949);
      }
   }

   &__title {
      border-radius: 200px;
      border: 1px solid #6532f8;
      background: #6532f8;
      padding: 10px 22px;
      text-align: center;
      font-size: 15px;
      line-height: normal;
      letter-spacing: -0.6px;
      text-transform: uppercase;

      @media (max-width: 949px) {
         border-radius: calcSize(50, 200, 320, 949);
         padding: calcSize(5, 10, 320, 949) calcSize(14, 22, 320, 949);
         font-size: calcSize(12, 15, 320, 949);
      }
   }

   &__subtitle {
      margin-bottom: 45px;
      padding: 0 70px;
      font-size: 120.4px;
      line-height: normal;
      letter-spacing: -4.817px;

      @media (max-width: 949px) {
         margin-bottom: calcSize(20, 45, 320, 949);
         padding: 0 calcSize(20, 70, 320, 949);
         font-size: calcSize(40, 120.4, 320, 949);
         letter-spacing: calcSize(-1, -4.817, 320, 949);
      }
   }
}

.page {
   &__wrapper {
      max-height: 986px;
      border-radius: 20px;
      background: #232323;
      padding: 70px;
      overflow-y: auto;

      @media (max-width: 949px) {
         max-height: calcSize(570, 986, 320, 949);
         border-radius: calcSize(10, 20, 320, 949);
         padding: calcSize(20, 70, 320, 949);
      }

      //!настройка скролл-барра
      //скроллбары в Chrome/Edge/Safari
      &::-webkit-scrollbar {
         width: 10px;
         /* ширина scrollbar */
      }

      &::-webkit-scrollbar-track {
         background: #6532f8;
         /* цвет дорожки */
         border-radius: 50px;
         /* закругления дрожки */
      }

      &::-webkit-scrollbar-thumb {
         background-color: #3a3939;
         /* цвет плашки */
         border-radius: 50px;
         /* закругления плашки */
         border: 2px solid #6532f8;
         /* padding вокруг плашки */
      }

      //скроллбары в Fifefox
      scrollbar-width: thin;
      /* "auto" или "thin"  */
      scrollbar-color: #3a3939 #6532f8;
      /* плашка скролла и дорожка */
   }
}

.receipt {
   &__error {
      height: 20px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;
      color: red;

      @media (max-width: 949px) {
         height: calcSize(14, 20, 320, 949);
         font-size: calcSize(10, 14, 320, 949);
         line-height: calcSize(14, 20, 320, 949);
      }
   }
}

.form {
   display: flex;
   gap: 20px;
   margin-bottom: 10px;

   @media (max-width: 949px) {
      margin-bottom: calcSize(5, 10, 320, 949);
      gap: calcSize(10, 20, 320, 949);
   }

   &__input {
      width: 411px;
      background-color: inherit;
      border-bottom: 1px solid #f3f6f9;
      color: inherit;
      font-size: 30px;
      line-height: 62px;

      @media (max-width: 949px) {
         width: calcSize(200, 411, 320, 949);
         font-size: calcSize(20, 30, 320, 949);
         line-height: calcSize(40, 62, 320, 949);
      }

      &:focus {
         border-color: #6532f8;
      }
   }

   &__addBtn {
      height: 62px;
      width: 62px;
      background: url("../resourses/img/icon/arrow.svg") center/31px no-repeat;
      background-color: #6532f8;
      border-radius: 50%;

      @media (max-width: 949px) {
         height: calcSize(40, 62, 320, 949);
         width: calcSize(40, 62, 320, 949);
         background-size: calcSize(20, 31, 320, 949);
      }

      &:hover {
         background-size: 35px;
         transition: background-size 100ms linear;
      }
   }
}

.movies {
   &__list {
      display: flex;
      flex-direction: column-reverse;
   }

   &__list-item {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 71px;
      margin-bottom: 3px;
      padding: 20px;
      border-radius: 10px;
      background: #3a3939;
      transition: all 300ms ease-in-out;

      @media (max-width: 949px) {
         gap: calcSize(10, 20, 320, 949);
         min-height: calcSize(40, 71, 320, 949);
         padding: calcSize(10, 20, 320, 949);
         border-radius: calcSize(8, 10, 320, 949);
      }

      &:has(> .movie > .movie__checkbox:checked) {
         opacity: 0.3;
         transition: opacity 250ms ease-in-out;
      }
   }
}

.movie {
   display: flex;
   width: 100%;
   align-items: center;
   gap: 20px;
   cursor: pointer;

   @media (max-width: 949px) {
      gap: calcSize(10, 20, 320, 949);
   }

   &__checkbox {
      display: none;

      &:checked {
         & + .movie__fakecheckbox {
            background-color: #6532f8;
         }

         & ~ .movie__title {
            text-decoration: line-through;
         }
      }
   }

   &__fakecheckbox {
      height: 18px;
      width: 19px;
      border: 1px solid #f3f6f9;
      border-radius: 50%;

      @media (max-width: 949px) {
         height: calcSize(14, 18, 320, 949);
         width: calcSize(14, 19, 320, 949);
      }
   }

   &__title {
      flex: 1;
      text-align: left;
      font-size: 20px;
      line-height: normal;
      letter-spacing: -0.4px;

      @media (max-width: 949px) {
         width: calcSizePercent(75, 90, 320, 949);
         font-size: calcSize(16, 20, 320, 949);
         letter-spacing: calcSize(-0.1, -0.4, 320, 949);
      }
   }

   &__deleteBtn {
      align-self: stretch;
      width: 23px;
      background: url("../resourses/img/icon/close.svg") center/contain
         no-repeat;

      @media (max-width: 949px) {
         width: calcSize(16, 23, 320, 949);
      }
   }
}

.footer {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   padding: 15px;
   gap: 15px 50px;
   color: rgba(255, 255, 255, 0.5);
}
